[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=startpulse
Comment=start pulse
Exec=sh -c "pulseaudio --log-target=syslog --daemonize --high-priority --realtime --exit-idle-time=-1"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

