[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=startraysession
Comment=startup session for sound
Exec=ray_control open_session start
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

