"*":
  "atom-beautify":
    executables:
      rubocop:
        path: "/home/b08x/.rvm/rubies/ruby-3.0.0/bin/rubocop"
    general:
      _analyticsUserId: "af1865d2-6aca-46f7-a3de-6aaef529e4e5"
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableBuiltinProvider: false
    strictMatching: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "ruby-solargraph"
      "autocomplete-snippets"
      "autocomplete-html"
      "autocomplete-css"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "vibrant-ink-ruby"
    ]
  editor:
    fontFamily: "BlexMono Nerd Font"
    fontSize: 17
    preferredLineLength: 70
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "590ef208-4d99-430d-8c29-fb4bd664dfd7"
  "file-types":
    "**/.config.d/*": "source.shell"
    "**/.config/sway/**": "source.shell"
    "*.cfg": "source.shell"
    "*.conf": "source.shell"
    "*.j2": "source.ansible-advanced"
    "*.rules": "source.shell"
    "*.yml": "source.ansible-advanced"
    "*config": "source.shell"
    ".zsh*": "source.shell"
  "git-tools": {}
  "one-dark-ui":
    stickyHeaders: true
  "open-terminal-here":
    command: "terminator -T \"atom\""
  "ruby-solargraph":
    commandPath: "/home/b08x/.rvm/rubies/ruby-3.0.0/bin/solargraph"
  "sb-atom-sonic-pi":
    sendOSCMessagesToGUI: true
    sonicPiGUIPort: 51235
    sonicPiServerPort: 4557
  "seti-ui":
    compactView: true
    hideProjectTab: true
  welcome:
    showOnStartup: false
