"*":
  "atom-beautify":
    executables:
      rubocop:
        path: "/home/b08x/.rvm/rubies/ruby-3.0.0/bin/rubocop"
    general:
      _analyticsUserId: "af1865d2-6aca-46f7-a3de-6aaef529e4e5"
      loggerLevel: "info"
    ruby: {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    minimumWordLength: 2
    strictMatching: false
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    disabledPackages: [
      "autocomplete-snippets"
      "autocomplete-html"
      "autocomplete-css"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Hack Nerd Font"
    fontSize: 17
    showLineNumbers: false
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "590ef208-4d99-430d-8c29-fb4bd664dfd7"
  "file-types":
    "**/.config.d/*": "source.shell"
    "**/.config/sway/**": "source.shell"
    "*.cfg": "source.shell"
    "*.conf": "source.shell"
    "*.j2": "source.ansible-advanced"
    "*.rules": "source.shell"
    "*.yml": "source.ansible-advanced"
    "*config": "source.shell"
    ".zsh*": "source.shell"
  "git-tools": {}
  minimap: {}
  "one-dark-ui":
    stickyHeaders: true
  "open-terminal-here":
    command: "terminator -T \"atom\""
  "ruby-block":
    highlightLineNumber: true
  "ruby-solargraph":
    commandPath: "/home/b08x/.rvm/rubies/ruby-3.0.0/bin/solargraph"
  "sb-atom-sonic-pi":
    sendOSCMessagesToGUI: true
    sonicPiGUIPort: 51235
    sonicPiServerPort: 4557
  "seti-ui":
    compactView: true
    hideProjectTab: true
  welcome:
    showOnStartup: false
